@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hotel Booking System</h1>
    <p>Choose From a Wide Range of Properties Which Hotel Booking System Offers. Search Now! Find What You Need At Hotel Booking System.</a>.</p>
</div>
